<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:t="http://java.sun.com/jsf/composite/components" xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
>
<h:head>
	<title>Cloud Designer</title>
	<h:outputScript library="javascript" name="designer-manager.js" />
	<h:outputScript library="javascript" name="jquery.ui.touch-punch.min.js" />
	<h:outputStylesheet library="css" name="designerPage.css" />
	<f:metadata>
		<f:viewParam name="id" value="#{designerController.id}" />
	</f:metadata>
</h:head>
<h:body>
	<p:growl autoUpdate="true" showDetail="true" />
	<p:log rendered="false" />	
	<h:form id="toolBarForm" prependId="false">
		<p:layout fullPage="true" rendered="#{not empty designerController.activeModel}">
			<p:layoutUnit position="north" size="58" >
				<p:toolbar id="menuToolBar" styleClass="toolbar-controls">
					<p:toolbarGroup align="left">
						<p:menuButton value="Tabelas" id="tableMenu">	
							<p:menuitem id="menuAddTable" value="Adicionar" styleClass="ui-bar-input" onclick="designerWidget.tableManager.preAdd();"/>
							<p:menuitem id="menuAlignTables" value="Alinhar" styleClass="ui-bar-input" onclick="designerWidget.alignTables();"/>
							<p:menuitem id="menuEditTable" value="Editar" styleClass="ui-bar-input" onclick="designerWidget.tableManager.edit();"/>
							<p:menuitem id="menuRemoveTable" value="Remover" styleClass="ui-bar-input" onclick="designerWidget.tableManager.remove();"/>
							<p:menuitem id="menuClearTables" value="Remover Todas" styleClass="ui-bar-input" onclick="designerWidget.tableManager.clear();"/>
							<p:menuitem id="menuTableKeys" value="Chaves" styleClass="ui-bar-input" onclick="designerWidget.tableManager.keys();"/>
						</p:menuButton>
						<p:menuButton value="Campos"> 
							<p:menuitem id="menuAddRow" value="Adicionar" styleClass="ui-bar-input" onclick="designerWidget.tableManager.addRow();"/>
							<p:menuitem id="menuEditRow" value="Editar" styleClass="ui-bar-input" onclick="designerWidget.rowManager.edit();"/>
							<p:menuitem id="menuRemoveRow" value="Remover" styleClass="ui-bar-	input" onclick="designerWidget.rowManager.remove();"/>
							<p:menuitem id="menuUpRow" value="Mover para cima" styleClass="ui-bar-input" onclick="designerWidget.rowManager.up();"/>
							<p:menuitem id="menuDownRow" value="Mover para baixo" styleClass="ui-bar-input" onclick="designerWidget.rowManager.down();"/>
						</p:menuButton>
						<p:menuButton value="Chaves">
							<p:menuitem id="menuCreateFK" value="Criar FK" styleClass="ui-bar-input" onclick="designerWidget.rowManager.foreigncreate();"/>
							<p:menuitem id="menuConnectFK" value="Conectar FK" styleClass="ui-bar-input" onclick="designerWidget.rowManager.foreignconnect();"/>
							<p:menuitem id="menuDisconnectFK" value="Desconectar FK" styleClass="ui-bar-input" onclick="designerWidget.rowManager.foreigndisconnect();"/>
						</p:menuButton>
					</p:toolbarGroup>
					
					<p:toolbarGroup align="right">
						<p:menuButton value="Opções">
							<p:menuitem id="serversave" value="Salvar" onclick="designerWidget.save();" action="#{designerController.saveModel()}" styleClass="ui-bar-input" disabled="#{!designerController.permission.canEdit()}"  />
							<p:menuitem id="configurations" value="Configurações" styleClass="ui-bar-input" onclick="jsDialogConfigs.show();" />
							<p:menuitem id="exit" url="/pages/user/projetos.xhtml?faces-redirect=true" value="Sair" styleClass="ui-bar-input" />
						</p:menuButton>
					</p:toolbarGroup>
				</p:toolbar>
			</p:layoutUnit>
			<p:layoutUnit position="center" style="padding:5px;">
				<!-- 
				<p:poll id="ajaxAutoUpdatePoll" widgetVar="ajaxAutoUpdate" onstart="designerWidget.save();" interval="5" update="panelGroup" autoStart="true" />
				 -->
				<h:panelGroup id="panelGroup">
					<t:designer id="designer" widgetVar="designerWidget" value="#{designerController.activeModel}" drawSmoothConnectors="#{optionsController.drawSmoothConnectors}" 
						foreignNamesPattern="#{optionsController.foreignNamesPattern}" hideConnectors="#{optionsController.hideConnectors}" showDatatype="#{optionsController.showDatatype}" 
						showFieldSize="#{optionsController.showFieldSize}" snapDistance="#{optionsController.snapDistance}" onUniqueTableSelection="onUniqueTableSelection()" 
						onUniqueTableDeselection="onUniqueTableDeselection()" onUniqueRowSelection="onUniqueRowSelection()" onUniqueRowDeselection="onUniqueRowDeselection()" debuggable="false"
					/>
				</h:panelGroup>
			</p:layoutUnit>
		</p:layout>
	</h:form>
	<h:form id="contextMenuForm">
		<p:contextMenu widgetVar="jsContextMenuId" id="contextMenuId" style="width:200px;">
			<p:submenu id="contextMenuTabelas" label="Tabelas">
				<p:menuitem id="cMenuAddTable" value="Adicionar/Cancelar" oncomplete="designerWidget.tableManager.preAdd();"/>
				<p:menuitem id="cMenuAlignTables" value="Alinhar" oncomplete="designerWidget.alignTables();"/>
				<p:menuitem id="cMenuEditTable" value="Editar" oncomplete="designerWidget.tableManager.edit();" />
				<p:menuitem id="cMenuRemoveTable" value="Remover" oncomplete="designerWidget.tableManager.remove();" />
				<p:menuitem id="cMenuClearTables" value="Remover Todas" oncomplete="designerWidget.tableManager.clear();"/>
				<p:menuitem id="cMenuTableKeys" value="Chaves" oncomplete="designerWidget.tableManager.keys();" />
			</p:submenu>
			<p:submenu label="Campos">
				<p:menuitem id="cMenuAddRow" value="Adicionar" oncomplete="designerWidget.tableManager.addRow();" />
				<p:menuitem id="cMenuEditRow" value="Editar" oncomplete="designerWidget.rowManager.edit();" />
				<p:menuitem id="cMenuRemoveRow" value="Remover" oncomplete="designerWidget.rowManager.remove();" />
				<p:menuitem id="cMenuUpRow" value="Mover para cima" oncomplete="designerWidget.rowManager.up();" />
				<p:menuitem id="cMenuDownRow" value="Mover para baixo" oncomplete="designerWidget.rowManager.down();" />
			</p:submenu>
			<p:submenu label="Chaves">
				<p:menuitem id="cMenuCreateFK" value="Criar FK" oncomplete="designerWidget.rowManager.foreigncreate();" />
				<p:menuitem id="cMenuConnectFK" value="Conectar FK" oncomplete="designerWidget.rowManager.foreignconnect();" />
				<p:menuitem id="cMenuDisconnectFK" value="Desconectar FK" oncomplete="designerWidget.rowManager.foreigndisconnect();" />
			</p:submenu>
		</p:contextMenu>
	</h:form>

	<h:form id="optionsForm" prependId="false">
		<p:dialog id="dialogConfigs" widgetVar="jsDialogConfigs" modal="true" header="Configurações" onHide="designerWidget.eventManager.onStopEdition();" onShow="designerWidget.eventManager.onStartEdition();">
			<p:panelGrid columns="2">
				<p:outputLabel id="snap" for="optionsnap" value="Distância entre tabelas" />
				<h:panelGroup>
					<p:inputText id="optionsnap" widgetVar="jsOptionSnap" size="4" value="#{optionsController.snapDistance}" />
					<p:tooltip for="optionsnap" value="#{optionsController.snapDistanceTip}" />
				</h:panelGroup>

				<p:outputLabel id="pattern" for="optionpattern" value="Padrão para nomes estrangeiros" />
				<h:panelGroup>
					<p:inputText id="optionpattern" widgetVar="jsOptionPattern" size="6" value="#{optionsController.foreignNamesPattern}" />
					<p:tooltip for="optionpattern" value="#{optionsController.foreignNamesTip}" />
				</h:panelGroup>

				<p:outputLabel id="hide" for="optionhide" value="Esconder conectores ao arrastar a tabela?" />
				<p:selectBooleanCheckbox id="optionhide" widgetVar="jsOptionHide" value="#{optionsController.hideConnectors}" />

				<p:outputLabel id="vector" for="optionvector" value="Desenhar conectores suaves(se suportado pelo navegador)?" />
				<p:selectBooleanCheckbox id="optionvector" widgetVar="jsOptionVector" value="#{optionsController.drawSmoothConnectors}" />

				<p:outputLabel id="showsize" for="optionshowsize" value="Mostrar tamanho do campo na tabela?" />
				<p:selectBooleanCheckbox id="optionshowsize" widgetVar="jsOptionShowSize" value="#{optionsController.showFieldSize}" />

				<p:outputLabel id="showtype" for="optionshowtype" value="Mostrar o tipo do campo na tabela?" />
				<p:selectBooleanCheckbox id="optionshowtype" widgetVar="jsOptionShowType" value="#{optionsController.showDatatype}" />

			</p:panelGrid>
			<f:facet name="footer">
				<p:commandButton id="optOk" value="OK" oncomplete="jsDialogConfigs.hide();" update=":toolBarForm:designer"/>
			</f:facet>
		</p:dialog>
		<p:dialog id="idDialogModelNotFound" widgetVar="dialogModelNotFound" visible="#{empty designerController.activeModel}" modal="true" header="ERROR" >
			<div style="text-align: center;">
				<p></p>
				<h:outputLabel value="Projeto não encontrado!" />
				<p />
				<p:button value="Ok" href="/" />
			</div>
		</p:dialog>
	</h:form>
	<script type="text/javascript">
		initialDefinitions();
	</script>
</h:body>
</html>