<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/resources/templates/defaultTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	<ui:define name="pageName">
	Index
	</ui:define>

	<ui:define name="content">
		<p:growl id="msg" />
		<p:layout style="height: 800px;">
			<p:layoutUnit position="north" size="40">
				<p:commandButton value="Nova mensagem" onclick="composeDlg.show()"
					type="button" icon="ui-icon ui-icon-document" />
			</p:layoutUnit>

			<p:layoutUnit position="west" size="200" resizable="true"
				collapsible="true" header="CAIXA DE MENSAGENS">
				<h:form>
					<p:tree value="#{messageBoxController.messageboxes}" var="box"
						selectionMode="single" selection="#{messageBoxController.messagebox}"
						style="width:170px">
						<p:treeNode icon="ui-icon ui-icon-mail-closed">
							<h:outputText value="#{box}" />
						</p:treeNode>

						<p:treeNode type="i" icon="ui-icon ui-icon-mail-closed">
							<h:outputText value="#{box}" />
						</p:treeNode>

						<p:treeNode type="s" icon="ui-icon ui-icon-transfer-e-w">
							<h:outputText value="#{box}" />
						</p:treeNode>

						<p:treeNode type="t" icon="ui-icon ui-icon-trash">
							<h:outputText value="#{box}" />
						</p:treeNode>
					</p:tree>
				</h:form>
			</p:layoutUnit>

			<p:layoutUnit position="center" size="300">

				<p:layout>

					<p:layoutUnit position="north" size="300" resizable="true"
						styleClass="nestedUnit">

						<p:tabView>

							<p:tab title="Mensagens Recebidas">

								<h:form>

									<p:dataTable var="msg" value="#{messageBoxController.messages}">

										<p:column headerText="Usuário" sortBy="#{msg.from}">
		                                                #{msg.from}
		                                            </p:column>

										<p:column headerText="Assunto" sortBy="#{msg.subject}">
		                                                #{msg.subject}
		                                            </p:column>

										<p:column headerText="Data" sortBy="#{msg.date}">
		                                                #{msg.date}
		                                            </p:column>

										<p:column>
											<p:commandButton update=":mailViewer"
												icon="ui-icon ui-icon-search" title="View">
												<f:setPropertyActionListener value="#{msg }"
													target="#{messageBoxController.message}" />
											</p:commandButton>
										</p:column>

									</p:dataTable>

								</h:form>

							</p:tab>

						</p:tabView>

					</p:layoutUnit>

					<p:layoutUnit position="center" styleClass="nestedUnit" size="500">

						<p:outputPanel id="mailViewer">
							<h:outputText value="#{messageBoxController.message.body}"
								rendered="#{not empty messageBoxController.message}" />
						</p:outputPanel>

					</p:layoutUnit>

				</p:layout>

			</p:layoutUnit>

		</p:layout>

		<p:ajaxStatus
			style="width:32px;height:32px;display:block;position:fixed;right:0;top:0;z-index:100">
			<f:facet name="start">
				<p:graphicImage value="/resources/images/loading.gif" />
			</f:facet>

			<f:facet name="complete">
				<h:outputText value="" />
			</f:facet>
		</p:ajaxStatus>


		<p:dialog widgetVar="composeDlg" modal="true" header="Nova Mensagem"
			width="530" showEffect="fade" hideEffect="fade">

			<h:form>

				<h:panelGrid columns="2" cellspacing="5">
					<h:outputLabel for="to" value="To: " />
					<p:inputText id="to" />

					<h:outputLabel for="cc" value="CC: " />
					<p:inputText id="cc" />

					<h:outputLabel for="subject" value="To: " />
					<p:inputText id="subject" size="50" />
				</h:panelGrid>

				<p:separator />

				<p:editor widgetVar="editor" />

				<p:separator />

				<p:commandButton value="Enviar" onclick="composeDlg.hide()"
					actionListener="#{messageBoxController.send}" update=":msg" process="@this" />
				<p:commandButton value="Cancelar" onclick="composeDlg.hide()"
					type="button" />

			</h:form>


		</p:dialog>
	</ui:define>
</ui:composition>