<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/resources/templates/defaultTemplate.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
>
	<ui:define name="pageName">
	Projetos
	</ui:define>

	<ui:define name="content">

		<h:form id="frmCrudProject">
			<p:layout id="layoutProjectCrud" style="height:700px;text-align:center;">
				<p:blockUI block=":frmCrudProject:tableProjects" trigger=":frmCrudProject:tableProjects :frmCrudProject:save :frmCrudProject:remove">
					Carregando
					<br />
					<p:graphicImage library="images" name="loading.gif" />
				</p:blockUI>
				<p:layoutUnit position="center" header="Lista de Projetos">
					<p:dataTable id="tableProjects" value="#{projectListController.projects}" var="project" selection="#{projectListController.selectedProject}" selectionMode="single"
						rowKey="#{project.id}" emptyMessage="Você não possui nenhum projeto" styleClass="ui-shadow"
					>
						<p:ajax event="rowSelect" listener="#{projectListController.onProjectSelect}" update=":frmCrudProject:panelDetails" process="@this" />

						<p:column headerText="Código" sortBy="#{project.id}" filterBy="#{project.id}" filterMatchMode="startsWith">
							<h:outputText value="#{project.id}" />
						</p:column>
						<p:column headerText="Nome" sortBy="#{project.name}" filterBy="#{project.name}" filterMatchMode="contains">
							<h:outputText value="#{project.name}" />
						</p:column>
						<p:column headerText="Banco" sortBy="#{project.model.database.db}" filterBy="#{project.model.database.db}" filterMatchMode="contains">
							<h:outputText value="#{project.model.database.db}" />
						</p:column>
						<p:column headerText="Data de Criação" sortBy="#{project.creationDate}" filterBy="#{project.creationDate}" filterMatchMode="contains">
							<h:outputText value="#{project.creationDate}">
								<f:convertDateTime type="date" />
							</h:outputText>
						</p:column>
					</p:dataTable>
				</p:layoutUnit>
				<p:layoutUnit position="east" size="450" header="Detalhes do projeto" collapsible="true" resizable="true">
					<p:blockUI block=":frmCrudProject:panelDetails" trigger=":frmCrudProject:tableProjects :frmCrudProject:save :frmCrudProject:remove">
						Carregando
						<br />
						<p:graphicImage library="images" name="loading.gif" />
					</p:blockUI>
					<p:panel id="panelDetails" styleClass="ui-shadow">
						<f:facet name="header">

							<p:commandButton id="new" value="Novo" style="width:30%;" action="#{projectListController.onNewProject()}" disabled="#{projectListController.crud.new}" update="@form" />
							<p:commandButton id="save" value="Salvar" style="width:30%;" action="#{projectListController.saveProject()}" actionListener="#{projectListController.loadProjects()}"
								disabled="#{not projectListController.crud.active}" update="@form"
							/>
							<p:commandButton id="remove" value="Remover" style="width:30%;" action="#{projectListController.removeProject()}" actionListener="#{projectListController.loadProjects()}"
								disabled="#{not projectListController.crud.edit or not projectListController.crud.permission.isOwner()}" update="@form"
							/>

						</f:facet>
						<h:panelGroup rendered="#{projectListController.crud.active}">
							<h:panelGrid style="text-align:left;width:95%;" columns="1">
								<h:panelGroup id="nameProjectPanel">
									<h:outputLabel value="Nome: " for="inputNameProject" style="font-weight:bold" />
									<p:inputText id="inputNameProject" value="#{projectListController.crud.project.name}" required="true" readonly="#{not projectListController.crud.permission.canEdit()}"
										style="width:95%;"
									/>
								</h:panelGroup>
								<h:panelGroup id="databasePanel">
									<h:outputText value="Banco: " style="font-weight:bold"/>
									<p:selectOneMenu id="inputDataBaseProject" value="#{projectListController.crud.database}" style="width:99%;" converter="omnifaces.SelectItemsConverter"
										disabled="#{not projectListController.crud.permission.canEdit()}" required="true" rendered="#{projectListController.crud.database == null}"
									>
										<f:selectItem noSelectionOption="true" itemLabel="Selecione" />
										<f:selectItems value="#{projectListController.crud.datatypes}" var="datatype" itemLabel="#{datatype.db}" itemValue="#{datatype}" />
									</p:selectOneMenu>
									<h:outputText value="#{projectListController.crud.database.db}" rendered="#{projectListController.crud.database != null}" />
								</h:panelGroup>
							</h:panelGrid>
							<p:separator />
							<p:dataTable id="usersTable" var="alloweduser" value="#{projectListController.crud.project.allowedUsers}" rows="5" paginator="true" paginatorPosition="top"
								style="text-align:center;" styleClass="ui-shadow" emptyMessage="Nenhum usuario selecionado" rendered="#{projectListController.crud.permission.isOwner()}"
							>
								<f:facet name="header">
									<h:outputText value="Compatilhar projeto" />
								</f:facet>
								<p:column headerText="Login" id="loginColumn">
									<h:outputText value="#{alloweduser.user.login}  " />
								</p:column>
								<p:column headerText="Nome " id="nameColumn">
									<h:outputText value="#{alloweduser.user.name}" />
								</p:column>
								<p:column headerText="Permissão" id="readOnlyColumn" style="width:5%;">
									<p:selectBooleanButton id="readOnlyComboBox" value="#{alloweduser.readOnly}" onLabel="Leitura " offLabel="Edição" onIcon="ui-icon-locked" offIcon="ui-icon-unlocked" disabled="#{not projectListController.crud.permission.isOwner()}"/>
								</p:column>
								<p:column headerText="Ações" id="actionColumn" style="width:5%;">
									<p:commandButton id="removeUserButton" process="@parent" update="@form" icon="ui-icon-trash" value="Remover" action="#{projectListController.crud.removeUser()}"
										disabled="#{not projectListController.crud.permission.isOwner()}"
									>
										<f:setPropertyActionListener target="#{projectListController.crud.userSelected}" value="#{alloweduser.user}" />
									</p:commandButton>
								</p:column>
								<f:facet name="footer">
									<p:commandButton type="button" value="Inserir usuário" onclick="insertUserDialog.show();" icon="ui-icon-check"
										disabled="#{!projectListController.crud.permission.isOwner()}" process="@none" style="width:95%;"
									/>
								</f:facet>

							</p:dataTable>
							<p:panel rendered="#{!projectListController.crud.permission.isOwner()}">
								<h:outputLabel value="Projeto criado por:  " style="font-weight:bold" />
								<h:outputText value="#{projectListController.selectedProject.owner.name}"/>
							</p:panel>
							<br />

							<p:fieldset style="width:90%" toggleable="true" collapsed="true" legend="Importação/Exportação">
								<p:commandButton id="btnDownloadModel" value="Baixar Modelo XML" title="Exportar Modelo" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop)"
									icon="ui-icon-circle-arrow-s" rendered="#{projectListController.crud.active}" style="text-align:center;width:99%"
								>
									<p:fileDownload value="#{projectListController.downloadXmlFile}" />
								</p:commandButton>
								<p:commandButton id="btnDownloadSql" value="Baixar Script SQL" title="Baixar SQL" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop)"
									icon="ui-icon-circle-arrow-s" rendered="#{projectListController.crud.active}" style="text-align:center;width:99%"
								>
									<p:fileDownload value="#{projectListController.downloadSqlFile}" />
								</p:commandButton>
								<p:fileUpload style="text-align:center;border-width:0" fileUploadListener="#{projectListController.upload}" mode="advanced" auto="true" label="Submeter Modelo"
									sizeLimit="100000" update="databasePanel" allowTypes="/(\.|\/)(xml|xls)$/" rendered="#{projectListController.crud.active}" disabled="#{not projectListController.crud.permission.canEdit()}"
								/>
							</p:fieldset>
						</h:panelGroup>
						<f:facet name="footer">

							<p:button href="/pages/user/designer.xhtml?id=#{projectListController.crud.project.id}" ajax="false" id="btnOpenProject" value="Designer" icon="ui-icon-arrowreturnthick-1-n"
								title="Abrir Designer" style="width:99%;text-align:center;" rendered="#{projectListController.crud.active }" disabled="#{projectListController.selectedProject == null}"
							/>
						</f:facet>
					</p:panel>
				</p:layoutUnit>
			</p:layout>

			<p:dialog header="Inserir Usuário" widgetVar="insertUserDialog" resizable="false" modal="true" dynamic="true">
				<p:dataTable value="#{projectListController.crud.users}" var="insertUser" rowKey="#{insertUser.id}" rows="20" id="selectUserTable"
					selection="#{projectListController.crud.userSelected}" selectionMode="single"
				>
					<f:facet name="header">
						<h:outputLabel value="Selecione um usuário:" />
					</f:facet>
					<p:ajax event="rowSelect" listener="#{projectListController.crud.onUserSelect}" update=":frmCrudProject:usersTable @parent" oncomplete="insertUserDialog.hide()"
						process="@this"
					/>
					<p:column headerText="Login" id="login" filterMatchMode="contains" filterBy="#{insertUser.login}" sortBy="#{insertUser.login}">
						#{insertUser.login}
					</p:column>
					<p:column headerText="Nome " id="name" filterMatchMode="contains" filterBy="#{insertUser.name}" sortBy="#{insertUser.name}">
						#{insertUser.name}
					</p:column>
				</p:dataTable>
			</p:dialog>
		</h:form>
	</ui:define>
</ui:composition>