@CHARSET "UTF-8";

body {
	padding: 0px;
	margin: 0px;
}

.ui-bar-input {
	display: block;
	width: 100%;
	margin: auto;
}

.ui-bar-input-small {
	width: 49%;
	display: inline;
}

.ui-widget {
	font-size: 14px !important;
}