

.body-component {
	font-family: verdana, sans serif;
	font-size: small;
	background: url(#{facesContext.externalContext.requestContextPath}/resources/images/back.gif) fixed;
	visibility: visible;
	overflow: hidden;
	position: relative;
	width:100%;
	height:100%;
}

#controls {
	position: absolute;
	top: 0px;
	left: 0px;
}

#area {
	position: relative;
	width:100%;
	height:100%;
	overflow: hidden;
}

#minimap {
	position: fixed;
	width: 100px;
	height: 100px;
	right: 25px;
	bottom: 25px;
	background-color: #fff;
	border: 1px solid #000;
	opacity: 0.9;
	overflow: hidden;
}

.mini {
	position: absolute;
	border: 1px solid #000;
	background-color: #eea;
	font-size: 1px;
	line-height: 1px;
}

.mini_selected {
	background-color: #f85;
}

.port {
	position: absolute;
	border: 2px solid #f00;
}

.table {
	position: absolute;
	border: 1px solid #000;
	background-color: #ddd;
	cursor: pointer;
	-moz-box-shadow: 4px 4px 8px #888; /* FF 3.5+ */
	-webkit-box-shadow: 4px 4px 8px #888; /* Safari 3.0+, Chrome */
	box-shadow: 4px 4px 8px #888; /* Opera 10.5, IE 9.0 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#888888' );
	/* IE 6, IE 7 */
	-ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#888888' );
	/* IE 8 */
	border-radius: 3px;
}

.table table {
	border-collapse: collapse;
}

.table.selected {
	border: 2px solid #000;
}

.table thead .title {
	text-align: center;
	padding: 3px 30px;
}

.table tbody {
	border-top: 1px dotted #888;
}

.table tbody td {
	padding: 3px;
}

.table tbody .selected {
	font-weight: bold;
	color: #f00;
	display: inline-block;
}

.table tbody .title {
	display: inline-block;
}

.primary {
	font-weight: bold;
}

.key {
	font-style: italic;
}

.primary.key {
	font-style: normal;
}

.typehint {
	font-size: 80%;
	color: gray;
}

.comment {
	font-size: 80%;
	font-weight: normal;
	margin-right: 0.5em;
}

.adding {
	cursor: crosshair;
}

.relation {
	overflow: hidden;
}

#background {
	position: absolute;
	background-color: #000;
	opacity: 0.5;
	visibility: hidden;
}

#window {
	position: absolute;
	visibility: hidden;
	background-color: #fff;
	border: 6px double #333;
}

#windowtitle {
	border-bottom: 2px solid #333;
	padding: 2px;
	padding-left: 1em;
	font-weight: bold;
	background-color: rgb(238, 238, 170);
}

#windowcontent {
	padding: 1em;
}

#windowok,#windowcancel {
	margin: 0em 1em 1em;
}

.small {
	font-size: 85%;
}

#textarea {
	width: 600px;
	height: 100px;
}

#opts {
	width: 700px;
}

#keys {
	white-space: nowrap;
	text-align: center;
}

label,input,select {
	vertical-align: middle;
}

#throbber {
	position: absolute;
	top: 2px;
	right: 3px;
}

#rubberband {
	position: absolute;
	border: 1px solid #000;
	background: #888;
	opacity: 0.5;
	visibility: hidden;
}