@CHARSET "UTF-8";

body {
	padding: 0px;
	margin: 0px;
}

#header {
	height: 90px;
	padding: 4px 0px;
}

#logo {
	position: absolute;
}

#pageInfo {
	text-align: center;
	position: absolute;
	left: 45%;
	top: 10px;
}

#themeRoller {
	vertical-align: middle;
	text-align: left;
	position: absolute;
	right: 1%;
	top: 10px;
}

#content {
	margin: 5px;
}

.ui-widget {
	font-size: 14px !important;
}