<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:cc="http://java.sun.com/jsf/composite" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui"
>

<cc:interface>
	<cc:attribute name="id" />

	<cc:attribute name="widgetVar" default="cloudDesignerJs" />
	<cc:attribute name="value" type="com.clouddesigner.component.model.DbModel" />
	 
	<cc:attribute name="onLoadComponent"/>
	 
	<cc:attribute name="onStartEdition" />
	<cc:attribute name="onStopEdition" />
	
	<cc:attribute name="onTableCreateStart" />
	<cc:attribute name="onTableCreateStop" />
	<cc:attribute name="onTableClick" />
	<cc:attribute name="onTableDoubleClick" />
	<cc:attribute name="onTableDestroyed" />
	<cc:attribute name="onTableSelected" />
	<cc:attribute name="onTableUnselected" />
	<cc:attribute name="onTableEditStart" />
	<cc:attribute name="onTableEditStop" />
	
	<cc:attribute name="onUniqueTableSelection" />
	<cc:attribute name="onUniqueTableDeselection" />
	<cc:attribute name="onUniqueRowSelection" />
	<cc:attribute name="onUniqueRowDeselection" />
	
	<cc:attribute name="onRelationCreateStart" />
	<cc:attribute name="onRelationCreateEnd" />
	<cc:attribute name="onRelationDestroyed" />
	
	<cc:attribute name="onRowCreateStart" />
	<cc:attribute name="onRowCreateStop" />
	<cc:attribute name="onRowClick" />
	<cc:attribute name="onRowDoubleClick" />
	<cc:attribute name="onRowDestroyed" />
	<cc:attribute name="onRowSelected" />
	<cc:attribute name="onRowUnselected" />
	<cc:attribute name="onRowEditStart" />
	<cc:attribute name="onRowEditStop" />

	<cc:attribute name="debuggable" default="false"></cc:attribute>
	 
	<cc:attribute name="snapDistance" default="0" />
	<cc:attribute name="foreignNamesPattern" default="%R_%T" />
	<cc:attribute name="hideConnectors" default="false" />
	<cc:attribute name="drawSmoothConnectors" default="true" />
	<cc:attribute name="showFieldSize" default="false" />
	<cc:attribute name="showDatatype" default="false" />

</cc:interface>

<cc:implementation>
	<div class="body-component">
		<h:outputStylesheet library="css" name="style.css" media="all" />
		<h:outputStylesheet library="css" name="print.css" media="print" />
		<h:outputScript library="javascript" name="oz.js" target="head" />
		<h:outputScript library="javascript" name="config.js" target="head" />
		<h:outputScript library="javascript" name="wwwsqldesigner.js"/>
		<input type="hidden" id="cc_id" value="#{cc.attrs.id}:" />
		<h:inputHidden id="xml" value="#{cc.attrs.value}" converter="dbModelConverter" />

		<!-- begin -->
		<div id="area"></div>
		<div id="controls">

			<div id="rubberband"></div>

			<div id="minimap"></div>

			<div id="background"></div>

			<div id="window">
				<div id="windowtitle"></div>
				<div id="windowcontent"></div>
				<p:commandButton id="windowok" value="#{names.windowok}" />
				<p:commandButton id="windowcancel" value="#{names.windowcancel}" />
			</div>
		</div>
		<!-- #controls -->
		<div id="keys">
			<fieldset>
				<legend id="keyslistlabel"></legend>
				<select id="keyslist">
					<option></option>
				</select>
				<p:commandButton id="keyadd" value="Adicionar chave" />
				<p:commandButton id="keyremove" value="Remover chave" />
			</fieldset>
			<fieldset>
				<legend id="keyedit">Editar chave</legend>
				<table>
					<tbody>
						<tr>
							<td>
								<label for="keytype" id="keytypelabel">Tipo:</label>
								<select id="keytype">
									<option></option>
								</select>
							</td>
							<td></td>
							<td>
								<label for="keyname" id="keynamelabel">Nome:</label>
								<input type="text" id="keyname" size="10" />
							</td>
						</tr>
						<tr>
							<td colspan="3">
								<hr />
							</td>
						</tr>
						<tr>
							<td>
								<label for="keyfields" id="keyfieldslabel">Campos na chave</label>
								<br />
								<select id="keyfields" size="5" multiple="multiple">
									<option></option>
								</select>
							</td>
							<td>
								<p:commandButton id="keyleft" value="&lt;&lt;" />
								<br />
								<p:commandButton id="keyright" value="&gt;&gt;" />
								<br />
							</td>
							<td>
								<label for="keyavail" id="keyavaillabel">Campos disponíveis</label>
								<br />
								<select id="keyavail" size="5" multiple="multiple">
									<option></option>
								</select>
							</td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</div>

		<div id="table">
			<table>
				<tbody>
					<tr>
						<td>
							<label id="tablenamelabel" for="tablename">Nome</label>
						</td>
						<td>
							<input id="tablename" type="text" />
						</td>
					</tr>
					<tr>
						<td>
							<label id="tablecommentlabel" for="tablecomment">Comentário</label>
						</td>
						<td>
							<textarea rows="5" cols="40" id="tablecomment"></textarea>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<script type="text/javascript">	
		
			var d = new SQL.Designer();
			var #{cc.attrs.widgetVar} = d;
			var debuggable = #{cc.attrs.debuggable};
 
		 	d.eventManager.startEdition = function()  {#{cc.attrs.onStarEdition}; if(debuggable){PrimeFaces.info('startEdition');}};
		 	d.eventManager.stopEdition = function()	  {#{cc.attrs.onStopEdition}; if(debuggable){PrimeFaces.info('stopEdition');}};
			
		 	d.eventManager.onTableCreateStart = function(table) {#{cc.attrs.onTableCreateStart}; if(debuggable){PrimeFaces.info('onTableCreateStart');}};
		 	d.eventManager.onTableCreateStop = function(table)	{#{cc.attrs.onTableCreateStop}; if(debuggable){PrimeFaces.info('onTableCreateStop');}};
		 	d.eventManager.onTableClick = function(table)		{#{cc.attrs.onTableClick}; if(debuggable){PrimeFaces.info('onTableClick');}};
		 	d.eventManager.onTableDoubleClick = function(table) {#{cc.attrs.onTableDoubleClick}; if(debuggable){PrimeFaces.info('onTableDoubleClick');}};
		 	d.eventManager.onTableDestroyed = function(table)	{#{cc.attrs.onTableDestroyed}; if(debuggable){PrimeFaces.info('onTableDestroyed');}};
		 	d.eventManager.onTableSelected = function(table)	{#{cc.attrs.onTableSelected}; if(debuggable){PrimeFaces.info('onTableSelected');}};
		 	d.eventManager.onTableUnselected = function(table)	{#{cc.attrs.onTableUnselected}; if(debuggable){PrimeFaces.info('onTableUnselected');}};
		 	d.eventManager.onTableEditStart = function(table)	{#{cc.attrs.onTableEditStart}; if(debuggable){PrimeFaces.info('onTableEditStart');}};
		 	d.eventManager.onTableEditStop = function(table)	{#{cc.attrs.onTableEditStop}; if(debuggable){PrimeFaces.info('onTableEditStop');}};
		 	
		 	d.eventManager.onRelationCreateStart = function(row1)			    {#{cc.attrs.onRelationCreateStart}; if(debuggable){PrimeFaces.info('onRelationCreateStart');}};
		 	d.eventManager.onRelationCreateEnd = function(row1, row2, relation) {#{cc.attrs.onRelationCreateEnd}; if(debuggable){PrimeFaces.info('onRelationCreateEnd');}};
		 	d.eventManager.onRelationDestroyed = function(relation)			  	{#{cc.attrs.onRelationDestroyed}; if(debuggable){PrimeFaces.info('onRelationDestroyed');}};
		 				
			d.eventManager.onRowCreateStart = function(row) {#{cc.attrs.onRowClick}; if(debuggable){PrimeFaces.info('onRowCreateStart');}};
			d.eventManager.onRowCreateStop = function(row)	{#{cc.attrs.onRowCreateStop}; if(debuggable){PrimeFaces.info('onRowCreateStop');}};
			d.eventManager.onRowClick = function(row)		{#{cc.attrs.onRowClick}; if(debuggable){PrimeFaces.info('onRowClick');}};
			d.eventManager.onRowDoubleClick = function(row) {#{cc.attrs.onRowDoubleClick}; if(debuggable){PrimeFaces.info('onRowDoubleClick');}};
			d.eventManager.onRowDestroyed = function(row)	{#{cc.attrs.onRowDestroyed}; if(debuggable){PrimeFaces.info('onRowDestroyed');}};
			d.eventManager.onRowSelected = function(row)	{#{cc.attrs.onRowSelected}; if(debuggable){PrimeFaces.info('onRowSelected');}};
			d.eventManager.onRowUnselected = function(row)	{#{cc.attrs.onRowUnselected}; if(debuggable){PrimeFaces.info('onRowUnselected');}};
			d.eventManager.onRowEditStart = function(row) 	{#{cc.attrs.onRowEditStart}; if(debuggable){PrimeFaces.info('onRowEditStart');}};
			d.eventManager.onRowEditStop = function(row) 	{#{cc.attrs.onRowEditStop}; if(debuggable){PrimeFaces.info('onRowEditStop');}};

			d.eventManager.onUniqueTableSelection = function()		{#{cc.attrs.onUniqueTableSelection}; if(debuggable){PrimeFaces.info('onUniqueTableSelection');}};
			d.eventManager.onUniqueTableDeselection = function()	{#{cc.attrs.onUniqueTableDeselection}; if(debuggable){PrimeFaces.info('onUniqueTableDeselection');}};
			d.eventManager.onUniqueRowSelection = function()		{#{cc.attrs.onUniqueRowSelection}; if(debuggable){PrimeFaces.info('onUniqueRowSelection');}};
			d.eventManager.onUniqueRowDeselection = function()		{#{cc.attrs.onUniqueRowDeselection}; if(debuggable){PrimeFaces.info('onUniqueRowDeselection');}};

			d.setOption("snap",#{cc.attrs.snapDistance});
			d.setOption("pattern",'#{cc.attrs.foreignNamesPattern}');
			d.setOption("hide", #{cc.attrs.hideConnectors});
			d.setOption("vector", #{cc.attrs.drawSmoothConnectors});
			d.setOption("showsize", #{cc.attrs.showFieldSize});
			d.setOption("showtype", #{cc.attrs.showDatatype});
		</script>
	</div>
</cc:implementation>
</html>