<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/resources/templates/defaultTemplate.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
>

	<ui:define name="content">
		<h:form id="dbForm" style="text-align:center;" enctype="multipart/form-data">
			<p:layout style="height:500px;width:100%;padding-top:10px;">
				<p:layoutUnit position="center">
					<p:dataTable id="loadedDbsTable" widgetVar="jsLoadedDbsTable" var="model" value="#{databasesCrudController.loadedDataTypes}" rows="10" paginator="true" selectionMode="single"
						selection="#{databasesCrudController.selectedDataType}" rowKey="#{model.id}"
					>
						<p:ajax event="rowSelect" listener="#{databasesCrudController.onRowSelect}" update=":dbForm:pnlCrudDatabase" />

						<f:facet name="header">
							<h:outputText value="Bancos de Dados Cadastrados" />
						</f:facet>

						<p:column headerText="Código" style="width:10%;" sortBy="#{model.id}" filterBy="#{model.id}">
							<h:outputText value="#{model.id}" />
						</p:column>

						<p:column headerText="Nome" sortBy="#{model.db}" filterBy="#{model.db}">
							<h:outputText value="#{model.db}" />
						</p:column>

					</p:dataTable>
				</p:layoutUnit>
				<p:layoutUnit id="eastUnit" position="east" size="30%" resizable="true" collapsible="true" header="Detalhes">

					<p:panel id="pnlCrudDatabase" style="width:98%;">
						<f:facet name="header">
							<p:commandButton value="Novo" style="width:30%;" action="#{databasesCrudController.startNew()}" update="@form" disabled="#{databasesCrudController.new}" />
							<p:commandButton value="Salvar" style="width:30%;" action="#{databasesCrudController.save()}" update="@form" disabled="#{not databasesCrudController.active}" />
							<p:commandButton value="Deletar" style="width:30%;" action="#{databasesCrudController.remove()}" update="@form" disabled="#{not databasesCrudController.edit}" />
						</f:facet>
						<p:fileUpload fileUploadListener="#{databasesCrudController.handleFileUpload}" mode="advanced" multiple="true" label="Arquivos" update="dBViewer" sizeLimit="100000"
							allowTypes="/(\.|\/)(xml|xsl)$/" style="width:98%;" rendered="#{databasesCrudController.active}"
						/>

						<h:panelGroup id="dBViewer" style="width:100%;text-align:left;">
							<h:panelGroup rendered="#{databasesCrudController.active}">
								<h:outputText value="Este modelo ainda não possui XSL para conversão em SQL" rendered="#{empty databasesCrudController.xmlToSqlXsl}" />
								<h:outputText value="Possui XSL para conversão em SQL" rendered="#{not empty databasesCrudController.xmlToSqlXsl}" />
							</h:panelGroup>
							<br />
							<p:tree id="treeNodeDb" widgetVar="jsTreeNodeDb" value="#{databasesCrudController.root}" var="node" rendered="#{not empty databasesCrudController.root}" style="width:100%;">
								<p:treeNode>
									<h:outputText id="lblNode" value="#{node}" />
								</p:treeNode>
							</p:tree>
						</h:panelGroup>
						<f:facet name="footer">
							<p:commandButton value="XSL" style="width:49%;text-align:center;" rendered="#{not empty databasesCrudController.xmlToSqlXsl}" icon="ui-icon-circle-arrow-s" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop)">
								<p:fileDownload value="#{databasesCrudController.downloadXsl()}" />
							</p:commandButton>
							<p:commandButton value="Datatype" style="width:49%;text-align:center;" rendered="#{not empty databasesCrudController.xmlToSqlXsl}" icon="ui-icon-circle-arrow-s" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop)">
								<p:fileDownload value="#{databasesCrudController.downloadXmlDatatype()}" />
							</p:commandButton>
						</f:facet>
					</p:panel>
				</p:layoutUnit>
			</p:layout>
		</h:form>
	</ui:define>
</ui:composition>