<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/resources/templates/defaultTemplate.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
>

	<ui:define name="content">
		<h:form id="usersForm" prependId="false" style="text-align:center;"	>
			<p:layout id="usersLayout" widgetVar="jsUsersLayout" style="width:100%;height:500px;padding-top:10px;">
				<p:layoutUnit id="usersCenterLayout" position="center">

					<p:dataTable id="usersDataTable" widgetVar="jsUsersDataTable" var="user" value="#{usersCrudController.availableUsers}" rows="10" 
						paginator="true" selectionMode="single"	selection="#{usersCrudController.selectedUser}" rowKey="#{user.id}"
					>
						<f:facet name="header">
							<h:outputText value="Usuários Cadastrados" />
						</f:facet>

						<p:ajax event="rowSelect" listener="#{usersCrudController.onRowSelect}" update="@form" />

						<p:column headerText="Id" style="width:25%">
							<h:outputText value="#{user.id}" />
						</p:column>

						<p:column headerText="Login" style="width:25%">
							<h:outputText value="#{user.login}" />
						</p:column>

						<p:column headerText="Nome" style="width:25%">
							<h:outputText value="#{user.name}" />
						</p:column>

						<p:column headerText="Permissões" style="width:25%">
							<h:outputText value="#{usersCrudController.rolesUser(user)}" />
							
						</p:column>
					</p:dataTable>

				</p:layoutUnit>
				<p:layoutUnit id="usersEastLayout" position="east" size="30%" collapsible="true" header="Detalhes">
					<p:panel style="text-align:center;">

						<f:facet name="header">
							<p:commandButton value="Novo" disabled="#{usersCrudController.opController.newDisabled}" action="#{usersCrudController.actionNewUser()}" update="@form" style="width:30%;" />
							<p:commandButton value="Salvar" disabled="#{usersCrudController.opController.saveDisabled}" action="#{usersCrudController.actionSaveUser()}" update="@form"
								style="width:30%;"
							/>
							<p:commandButton value="Deletar" disabled="#{usersCrudController.opController.deleteDisabled}" action="#{usersCrudController.actionDeleteUser()}" update="@form"
								style="width:30%;"
							/>
						</f:facet>

						<p:separator />

						<p:panelGrid columns="2" style="width:100%;text-align:center;">
							<h:outputLabel value="Login:" for="userLoginId" />
							<p:inputText id="userLoginId" value="#{usersCrudController.selectedUser.login}" style="width:95%;" disabled="#{usersCrudController.opController.saveDisabled}" />

							<h:outputLabel value="Nome:" for="userNameId" />
							<p:inputText id="userNameId" value="#{usersCrudController.selectedUser.name}" style="width:95%;" disabled="#{usersCrudController.opController.saveDisabled}" />

							<h:outputLabel value="Senha:" for="userPasswordId" />
							<p:password id="userPasswordId" redisplay="true" value="#{usersCrudController.selectedUser.password}" style="width:95%;" disabled="#{usersCrudController.opController.saveDisabled}" />

							<h:outputLabel value="Permissão:" />
							<p:selectCheckboxMenu  value="#{usersCrudController.selectedRoles}" style="width:98%;" label="Permissões disponíveis" filter="true" filterText="Filter"
								filterMatchMode="startsWith" disabled="#{usersCrudController.opController.saveDisabled}"
							>
								<f:selectItems value="#{usersCrudController.availableRoles}" />
							</p:selectCheckboxMenu>
						</p:panelGrid>

					</p:panel>
				</p:layoutUnit>
			</p:layout>
		</h:form>
		
	</ui:define>
</ui:composition>